<!––  this file is the main 'view' used on all pages
#the actual views we access with our urls are passed into the yeild in the body
#the yield in the title comes from the view also.-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/rails_default" %><!–– This line pulls in a partial so that i can keep this layout tidy-->
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

      <%= yield %>
      <%= render "layouts/footer" %>
      <%= debug(params) if Rails.env.development? %>

    </div>
  </body>
</html>
